<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
      <form class="" action="<%= session_url %>" method="post">
        <%= auth_token %>
        <%= delete_method_overide %>
        <input type="submit" name="" value="Logout!">
      </form>
      <% else %>
        <form class="" action="<%= new_session_url %>" method="post">
          <%= get_method_overide %>
          <input type="submit" name="" value="Login!">
        </form>

        <form class="" action="<%= new_user_url %>" method="post">
          <%= get_method_overide %>
          <input type="submit" name="" value="Sign Up!">
        </form>
      <% end %>
    </header>
    <%= yield %>
    <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <%= error %><br>
    <% end %>
    <% end %>
  </body>
</html>
